<form method="POST" action="http://localhost:3000/create">
    <input type="hidden" name="id">
    <p>Date (YYYY-MM-DD):<br/><input name="date" type="text" autofocus><p/>
    <p>Hours worked:<br/><input name="hours" type="text"><p/>
    <p>Description:<br/>
    <textarea name="description"></textarea></p>
    <input type="file" name="upload" multiple="multiple">
    <input type="submit" value="Update" />
</form>