<div class="row">
<ul class="menu row icons-sprite icons-menu">
    <li><a class="logo" href="#"></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="#">Posts</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="/post/new">New post</a></li>
</ul>
</div>