<form>
<div class="inputGroup"><label class="inline-label" for="author">Author</label><input type="text" name="author" id="author"></div>
<div class="inputGroup"><label class="inline-label" for="date">Author</label><input type="text" name="date" id="date"></div>
<div class="inputGroup"><label class="inline-label" for="title">Author</label><input type="text" name="title" id="title"></div>
<div class="inputGroup"><label class="block-label" for="postText">Author</label><textarea name="postText" id="postText"></textarea></div>
<div class="inputGroup">
<select>
<option value="1">asd</option>
<option value="2">asd</option>
<option value="3">afd</option>
</select>
</div>
<div class="inputGroup"><button type="button" class="button">Add</button></div>
</form>