html
    head
        block title
        block scripts
            script('src=https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js')
    body
        block content
        include footer