<div class='overlay'></div>
  <div class='content'>
  <span class='close'>close</span>
  <h2>Login</h2>
  <span class='error'></span>
  <form id='login'>
    <label for='username'>
      Username:
    </label>
    <input name='username' />
    <br>
    <label for='password'>
      Password:
    </label>
    <input type='password' name='password' />
    <br>
    <input type='submit'></input>
  </form>
</div>