{{#if session }}
  <!-- active user session -->
  <a href="#" class="logout">Logout</a>
{{else}}
  <!-- no user session -->
  <a href="#" class="login">Login</a> |
  <a href="#" class="join">Join</a>
{{/if}}