var jade = require('jade');
var fs = require('fs');
var templateFile = './templates/page.jade';

var iterTemplate = fs.readFileSync(templateFile);

var context = {messages: ['first', 'second', 'third']};

var iterFn = jade.compile(iterTemplate, {filename: templateFile});

console.log(iterFn(context));
