/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../../sass/_grid.scss */
.wrapper {
  background: #fff;
  width: 90%;
  margin: 0 auto -40px;
}

/* line 12, ../../sass/_grid.scss */
.row {
  width: 100%;
  box-sizing: padding-box;
}
/* line 15, ../../sass/_grid.scss */
.row:after {
  content: '';
  display: block;
  clear: both;
}

/* line 21, ../../sass/_grid.scss */
.span {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  float: left;
}

/* line 27, ../../sass/_grid.scss */
.span-1 {
  width: 8%;
  padding: 1% 1%;
}

/* line 30, ../../sass/_grid.scss */
.span-2 {
  width: 18%;
  padding: 1% 1%;
}

/* line 33, ../../sass/_grid.scss */
.span-3 {
  width: 28%;
  padding: 1% 1%;
}

/* line 36, ../../sass/_grid.scss */
.span-4 {
  width: 38%;
  padding: 1% 1%;
}

/* line 39, ../../sass/_grid.scss */
.span-5 {
  width: 48%;
  padding: 1% 1%;
}

/* line 42, ../../sass/_grid.scss */
.span-6 {
  width: 58%;
  padding: 1% 1%;
}

/* line 45, ../../sass/_grid.scss */
.span-7 {
  width: 68%;
  padding: 1% 1%;
}

/* line 48, ../../sass/_grid.scss */
.span-8 {
  width: 78%;
  padding: 1% 1%;
}

/* line 51, ../../sass/_grid.scss */
.span-9 {
  width: 88%;
  padding: 1% 1%;
}

/* line 54, ../../sass/_grid.scss */
.span-10 {
  width: 98%;
  padding: 1% 1%;
}

/* line 57, ../../sass/_grid.scss */
.ml-10 {
  margin-left: 10%;
}

/* line 60, ../../sass/_grid.scss */
.ml-20 {
  margin-left: 10%;
}

/* line 63, ../../sass/_grid.scss */
.ml-30 {
  margin-left: 30%;
}

/* line 66, ../../sass/_grid.scss */
.ml-40 {
  margin-left: 40%;
}

/* line 69, ../../sass/_grid.scss */
.ml-50 {
  margin-left: 50%;
}

/* line 1, ../../sass/_forms.scss */
.inputGroup input, .inputGroup select {
  vertical-align: middle;
  height: 20px;
  padding: 3px;
  display: inline-block;
  width: 30%;
}

/* line 8, ../../sass/_forms.scss */
.inputGroup {
  width: 100%;
  margin-bottom: 10px;
}
/* line 11, ../../sass/_forms.scss */
.inputGroup label {
  vertical-align: middle;
  margin-right: 1%;
  width: 10%;
  display: inline-block;
  overflow-x: show;
}
/* line 21, ../../sass/_forms.scss */
.inputGroup input[type=checkbox], .inputGroup input[type=radio] {
  width: 5%;
}
/* line 24, ../../sass/_forms.scss */
.inputGroup select {
  height: 28px;
}
/* line 28, ../../sass/_forms.scss */
.inputGroup textarea {
  display: block;
  overflow: none;
}
/* line 33, ../../sass/_forms.scss */
.inputGroup.block label, .inputGroup.block input, .inputGroup.block select, .inputGroup.block textarea {
  display: block;
}

/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Hatori hanzo";
  src: url('../../fonts/hattori_hanzo-webfont.eot?1429131591') format('embedded-opentype'), url('../../fonts/hattori_hanzo-webfont.ttf?1429131591') format('truetype'), url('../../fonts/hattori_hanzo-webfont.woff?1429131591') format('woff'), url('../../fonts/hattori_hanzo-webfont.woff2?1429131591') format('woff2');
}
/* line 10, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper #root_footer {
  height: 40px;
}

/* line 20, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 36, ../../sass/screen.scss */
body * {
  font: 1em/1 "Hatori hanzo", sans-serif;
}

/* line 40, ../../sass/screen.scss */
p, span, div, input, textarea, select option {
  color: #2e2b2b;
}

/* line 44, ../../sass/screen.scss */
a {
  color: #2e2b2b;
  text-decoration: none;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #182e7a;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #65b2d6;
}

/* line 46, ../../sass/screen.scss */
input, textarea, select {
  border-radius: 2px;
  border: 1px solid #bce1eb;
}
/* line 49, ../../sass/screen.scss */
input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus, select:hover, select:active, select:focus {
  border-color: #65b2d6;
  -moz-box-shadow: #65b2d6 0 0 3px, #65b2d6 0 0 3px inset;
  -webkit-box-shadow: #65b2d6 0 0 3px, #65b2d6 0 0 3px inset;
  box-shadow: #65b2d6 0 0 3px, #65b2d6 0 0 3px inset;
}

/* line 55, ../../sass/screen.scss */
.logo {
  width: 100%;
  height: auto;
}

/* line 60, ../../sass/screen.scss */
.menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 1% 2% 1% 2%;
  border-bottom: 7px solid #65b2d6;
  background-color: #e8f2f2;
  height: 110px;
}
/* line 62, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
}
/* line 49, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li.last {
  padding-right: 0;
}
/* line 66, ../../sass/screen.scss */
.menu li:first-child {
  height: 100%;
  width: 300px;
}

/* line 71, ../../sass/screen.scss */
.pagination {
  text-align: center;
}
/* line 73, ../../sass/screen.scss */
.pagination li {
  display: inline;
  padding: 0.3% 2%;
  list-style-type: none;
}
/* line 78, ../../sass/screen.scss */
.pagination a.active {
  color: #182e7a;
  background: #65b2d6;
}

/* line 83, ../../sass/screen.scss */
#footer {
  width: 90%;
  margin: 0 auto;
}

/* line 88, ../../sass/screen.scss */
.button {
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #bce1eb;
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjZTFlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1YjJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bce1eb), color-stop(100%, #65b2d6));
  background-image: -moz-linear-gradient(#bce1eb, #65b2d6);
  background-image: -webkit-linear-gradient(#bce1eb, #65b2d6);
  background-image: linear-gradient(#bce1eb, #65b2d6);
  font: 0.9em/1.2 "Hatori hanzo", sans-serif;
  color: #2e2b2b;
  text-shadow: #000, 1px 1px 1px, #000, 1px 1px 1px;
  -moz-box-shadow: #bce1eb 0 0 3px, #bce1eb 0 0 1px 1px inset;
  -webkit-box-shadow: #bce1eb 0 0 3px, #bce1eb 0 0 1px 1px inset;
  box-shadow: #bce1eb 0 0 3px, #bce1eb 0 0 1px 1px inset;
}
/* line 18, ../../sass/_buttons.scss */
.button:hover, .button:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1YjJkNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JjZTFlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65b2d6), color-stop(100%, #bce1eb));
  background-image: -moz-linear-gradient(#65b2d6, #bce1eb);
  background-image: -webkit-linear-gradient(#65b2d6, #bce1eb);
  background-image: linear-gradient(#65b2d6, #bce1eb);
}

/* line 92, ../../sass/screen.scss */
.logo {
  display: inline-block;
  height: inherit;
  background: url('../images/icons-se6ac33e889.png') 0 0 no-repeat;
}

@keyframes slidein {
  0% {
    color: #65b2d6;
    margin: 0;
    background: #fff;
  }
  100% {
    color: #182e7a;
    margin: 10px 0 0 10px;
    background: #bce1eb;
  }
}
/* line 111, ../../sass/screen.scss */
.article {
  border-top: 1px solid #65b2d6;
  margin-bottom: 7px;
  padding: 1%;
}
/* line 115, ../../sass/screen.scss */
.article img {
  float: left;
  height: 100%;
}
/* line 119, ../../sass/screen.scss */
.article:after {
  content: "";
  display: block;
  clear: both;
}
/* line 124, ../../sass/screen.scss */
.article .h4 {
  font-size: 1.2em/1.4;
}
/* line 127, ../../sass/screen.scss */
.article > a {
  display: block;
  width: 38%;
  text-align: right;
  color: #65b2d6;
}
/* line 132, ../../sass/screen.scss */
.article > a:hover {
  animation: slidein 0.5s cubic-bezier(0.2, 0.4, 1, 0.8) infinite alternate-reverse;
}

@media screen and (max-width: 540px) {
  /* line 5, ../../sass/_mobile.scss */
  .span-1 {
    width: 48%;
    padding: 1% 1%;
  }

  /* line 8, ../../sass/_mobile.scss */
  .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10 {
    width: 98%;
    padding: 1% 1%;
  }

  /* line 12, ../../sass/_mobile.scss */
  .inputGroup {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 15, ../../sass/_mobile.scss */
  .inputGroup label, .inputGroup input, .inputGroup textarea {
    vertical-align: middle;
    margin-right: 1%;
    display: block;
    width: 100%;
    overflow-x: show;
  }
  /* line 22, ../../sass/_mobile.scss */
  .inputGroup textarea {
    height: 80px;
  }

  /* line 26, ../../sass/_mobile.scss */
  .button {
    width: 100%;
  }

  /* line 27, ../../sass/_mobile.scss */
  .menu {
    height: 30px;
    background-color: #000;
    background: url('../images/icons-se6ac33e889.png') 0 -120px no-repeat;
  }
  /* line 31, ../../sass/_mobile.scss */
  .menu li {
    display: none;
  }
  /* line 34, ../../sass/_mobile.scss */
  .menu.display {
    display: block;
    height: auto;
  }
  /* line 37, ../../sass/_mobile.scss */
  .menu.display li {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  /* line 41, ../../sass/_mobile.scss */
  .menu.display li:first-child {
    padding-top: 30px;
  }
}
